.section-title {
  padding-bottom: 80px;
}

.section-title h1 {
  font-size: 42px;
  color: #000;
  margin-bottom: 20px;
}
.section-title p {
  max-width: 730px;
}
.feature-item {
  background: #f1f9ff;
  padding: 50px 40px;
  margin-bottom: 30px;
}
.feature-item i {
  font-size: 36px;
  color: #222222;
}
.feature-item h4 {
  font-size: 21px;
  margin: 30px 0 20px 0;
}
.feature-item:hover {
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.08);
  background: #fff;
}
